{% extends 'app/base.html' %}
{% load static %}
{% block title %}
    Contact Us
{% endblock title %}
{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">
        Contact Us
    </h2>
    <br>
    <div class="row container">
    <p class="fs-4 text-center">
        Address: IT park, Jaipur, India, 302017
    </p>
    <p class="fs-4 text-center">
        Contact: +91 63829382037
    </p>
    <p class="fs-4 text-center">
        Email: rentfluxcustomercare@gmail.com
    </p>
    </div>

</div>

    <br><br>
{% endblock main-content %}